<!doctype html>    
<html>
<head> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tika Spijkerman</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="js/important.js"></script>
	<script type="text/javascript" src="js/mobile.js"></script>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111188275-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111188275-1');
  gtag('config', 'AW-8531455428');
</script>
	

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K27RPB7');</script>
<!-- End Google Tag Manager --> 
	
<script>
window.dataLayer = window.dataLayer || [];

var google_tag_params = {
   'ecomm_prodid': '<% hello>',
   'ecomm_pagetype': '<%hello 2>',
   'ecomm_totalvalue': '<% hello 3>'
  };
	
dataLayer.push({'google_tag_params': google_tag_params});


</script>
</head> 
<body> 
	<div id="header">
		<a href="index.html" class="logo">
			<img src="http://mydomaino.com/thumb_domino_1024.jpg" alt="logo">
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="index.html">home</a>
			</li>
			<li>
				<a href="about.html">about</a>
			</li>
			<li>
				<a href="gallery.html">gallery</a>
			</li>
			<li>
				<a href="blog.html">blog</a>
			</li>
			<li>
				<a href="contact.html">contact</a>
			</li>
		</ul>  
	</div>
	<div id="body">
		<div id="featured">
	<img id="pinkimage" src="https://images.unsplash.com/photo-1462456490601-4f7e60c96c5e?auto=format&fit=crop&w=1867&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt=""> 
			<div>
				<h2>Welcome</h2><br>
				<span>Take a dive into my world</span>
				<span><a href="blog-single-post.html" class="more">read more</a></span>
			</div>
		</div>
<ul>
			<li>
				<a href="gallery.html">
					<img src="https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-9/18699960_1505415612854792_180552651900743612_n.jpg?oh=02a0855977f3908114bd56786033aba2&oe=5AC6B2B5" alt="travel" style="height: 242px;" width="300px;">
					<span>The Traveler</span>
				</a>
			</li>
			<li>
				<a href="gallery.html">
					<img src="https://images.unsplash.com/photo-1484503566934-9c106112488a?auto=format&fit=crop&w=1951&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="macbook" style="height: 242px;" width="300px;">
					<span>The Programmer</span>
				</a>
			</li>
			<li>
				<a href="gallery.html">
                    <img src="https://scontent.flux1-1.fna.fbcdn.net/v/t1.0-9/21743033_10214460993228760_7452356030737350141_n.jpg?oh=e118e9eff627d3372a2376fa5c0ae1bc&oe=5AC3E06A" alt="Rome" style="height: 242px;" width="300px;">
					<span>the model</span>
				</a>
			</li>
        </ul>
        
	</div>
	<div id="footer">
		<div>
			<p>&copy; 2023 by Tika Spijkerman. All rights reserved.</p>
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/tikaspijkerman/" id="twitter">Linkedin</a>
				</li>
				<li>
					<a href="https://www.facebook.com/tika.spijkerman" id="facebook">facebook</a>
				</li>

			</ul>
		</div>
	</div>
</body>
</html>
